name: digital_trust_app
description: Digital Trust Mobile Application
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.2.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  # Firebase
  firebase_core: ^3.6.0
  firebase_auth: ^5.3.1

  # HTTP
  http: ^1.2.2

  # Secure JWT storage (THIS IS THE NEW ONE)
  flutter_secure_storage: ^9.0.0

  # UI
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
